<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>hbm</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>single</servlet-name>
    <jsp-file>/single.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>single</servlet-name>
    <url-pattern>/single</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>double</servlet-name>
    <jsp-file>/double.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>double</servlet-name>
    <url-pattern>/double</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>team</servlet-name>
    <jsp-file>/team.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>team</servlet-name>
    <url-pattern>/team</url-pattern>
    </servlet-mapping>
  <servlet>
    <servlet-name>manage</servlet-name>
    <jsp-file>/manage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Welcome</servlet-name>
    <jsp-file>/Welcome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>display</servlet-name>
    <jsp-file>/display.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>display</servlet-name>
    <url-pattern>/display</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayPartner</servlet-name>
    <jsp-file>/DisplayPartner.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPartner</servlet-name>
    <url-pattern>/display_partner</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayTeam</servlet-name>
    <jsp-file>/DisplayTeam.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTeam</servlet-name>
    <url-pattern>/display_team</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <jsp-file>/update.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/Update_Data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OldData</servlet-name>
    <jsp-file>/OldData.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldData</servlet-name>
    <url-pattern>/Update_here</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update_pair</servlet-name>
    <jsp-file>/update_pair.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_pair</servlet-name>
    <url-pattern>/update_pair</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OldData_pair</servlet-name>
    <jsp-file>/OldData_pair.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldData_pair</servlet-name>
    <url-pattern>/Update_pair_here</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update_team</servlet-name>
    <jsp-file>/update_team.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>update_team</servlet-name>
    <url-pattern>/update_team</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OldData_Team</servlet-name>
    <jsp-file>/OldData_Team.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>OldData_Team</servlet-name>
    <url-pattern>/Update_team_here</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>delete</servlet-name>
  <jsp-file>/delete.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  <servlet-name>delete</servlet-name>
  <url-pattern>/delete_here</url-pattern>
  </servlet-mapping>
</web-app>